*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
body {
  background-color: #021427;
  background-color: #041222;
  color: white;
  font-family: 'Fira Code', sans-serif;
  overflow-x: hidden;
  /* cursor: none */
}
  nav{
    height: 80px;
    width: 100%;
  }
  .logo-icon {margin-left: 20px;}
  label.logo{
    color:  #6f00ff;
    font-size: 30px;
    line-height: 80px;
    font-weight: bold;
  }
  #gaurav {
    color: white;
    font-size: 30px;
    line-height: 80px;
    font-weight: bold;
  }
  nav ul{
    float: right;
    margin-right: 20px;
  }
  nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
  }
  nav ul li a{
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    /* border-radius: 3px; */
    font-family: 'Fira Code', sans-serif;
}
a.active,a:hover{
    color: rgb(255, 255, 255);
    transition: .5s;
    background-color:  #6f00ff;
  }
  .checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
  }
  #check{
    display: none;
  }
  @media (max-width: 952px){
    label.logo{
      font-size: 30px;
      /* padding-left: 50px; */
    }
    nav ul li a{
      font-size: 16px;
    }
  }
  @media (max-width: 858px){
    .checkbtn{
      display: block;
    }
    ul{
      position: fixed;
      width: 100%;
      height: 100vh;
      background: #2c3e50;
      top: 80px;
      left: -100%;
      text-align: center;
      transition: all .5s;
    }
    nav ul li{
      display: block;
      margin: 50px 0;
      line-height: 30px;
    }
    nav ul li a{
      font-size: 20px;
    }
    a:hover,a.active{
      background: none;
      color: #ffffff;
    }
    #check:checked ~ ul{
      left: 0;
    }
  }
section {
    height: 100vh;
    position: relative;
  }
  .home {
    background-image: url(images/aryan-nikhil-lv7c_5ZXCvE-unsplash.jpg);
    background-size: cover;
    height: 100vh;
    width: 100vw;
}
.intro {
    position: absolute;
    top: 42%;
    left: 20%;
    font-size: xx-large;
    font-family: 'Montserrat', sans-serif;
}
p{
  margin: 0px;
}
#lineOne {
  font-size: medium;
}
.line3 {
  font-family: 'Jura', sans-serif;
}
#dev{
  /* font-family: 'Press Start 2P', sans-serif; */
  font-family: 'Fira Code', sans-serif;
  /* font-size: large; */
  font-weight: 80;
  font-size: 1.8rem;
}
#des {
  font-family: 'Dancing Script', cursive;
}
.console-underscore {
  display:inline-block;
  position:relative;
  top:-0.07em;
  left:10px;
}
.anime {
  font-weight: bold;
}  
#name {
  font-family: 'Jura', sans-serif;
  /* color: rgb(112, 33, 187); */
  color: #6f00ff;
  font-weight: 600;
  font-size: 2.4rem;
}


section:has(.project)  {
    /* height: 100vh; */
    background-image: #002244;
  }
  .container{
    position:relative;
    width:100%;
    z-index:2;
    height: 50vh;
  }
  .container .Ocard{
    vertical-align:top;
    height:200px;
    width:350px;
    position:relative;
    box-shadow: 20px 20px 50px rgba(0,0,0,0.8);
    background-color:rgba(255,255,255, 0.1);
    overflow:hidden;
    backdrop-filter:blur(5px);
  text-align:center;
  margin-top: 40px;
  margin-left: 60px;
}
.Ocard .content{
  padding: 20px 30px;
  transition:0.8s all ease;
  color:#ccc;
  transform:translateY(200px);
  opacity:0;
}
.Ocard:hover {
  backdrop-filter:blur(5px);
}
.Ocard:hover .content{
  transform:translateY(0px);
  opacity:1;
}
.Ocard1 {
  background-image: url(images/Untitled\ design\ \(1\).jpg);
  background-size: cover;
  margin-bottom: 50px;
}

.Ocard1:hover {
  transform: scale(1.05);
  transition:0.4s all ease;
}
.Ocard h3{
  color:#fff;
  font-weight:400;
  margin-top: 5px;
}
.card .content a{
  display:inline-block;
  margin-top:20px;
  text-decoration:none;
  padding:5px 10px 5px;
  border:2px solid #fff;
  text-transform:uppercase;
  color:#fff;
  border-radius:50px;
  box-shadow: 0px 5px 50px rgba(0,0,0,0.8);
  transition:0.8s all ease;
}
.Ocard .content a:hover{
  background:  rgb(112, 33, 187);
}
.others {
  margin-top: 60px;
}


@media only screen and (max-width:900px) {
  .container{
    display:block;
  }
} 
.projects {
  display: flex;
  height: max-content;
}  

.pro-heading {
  font-family: 'Righteous', sans-serif;
  font-weight: 900;
  font-size: 50px;
  /* color: #03203f; */
  color: white;
  font-weight: 900;
  letter-spacing: 7px;
  padding-left: 50px;
  padding-top: 20px;
  text-shadow: 4px 4px 1px #333;
}  
  
.column {
  width:100%;
  height: max-content;
  display: flex;
  flex-direction: column;
  /* justify-content: space-evenly; */
}

.containerrr{
  position:relative;
  display:flex;
  justify-content:center;
  align-items:center;
  /* padding:40px 0; */
  transform-style:preserve-3d;
}

.toLeft {
  right: 20%;
}
.toRight {
  left: 20%;
}

.projects span {
  transform: translate(-15%,-13%);
  color: #fffafa;
  text-shadow: 10px 10px 25px rgb(0, 0, 0),
  -10px 10px 25px rgb(0, 0, 0),
  -10px -10px 25px rgb(0, 0, 0),
  10px -10px 25px rgb(0, 0, 0);
  display: flex;
  font-size: xx-large;
  width: max-content;
  font-weight: bold;
}

.card1 {
  background-image: url(images/court.jpg);
  background-size: cover;
}
.card2 {
  background-image: url(images/videocall.jpg);
  background-size: cover;
}
.card3 {
  background-image: url(images/portfolio.jpg);
  background-size: cover;
}

.containerrr .box{
  position:relative;
  height: 13rem;
  width: 23rem;
  margin:60px 0;
  background:#000;
  transform-style:preserve-3d;
  color: #000;
  box-shadow: 20px 20px 50px rgba(0,0,0,0.8);
}

.containerrr .box:hover{
  box-shadow:0 50px 80px rgba(0,0,0,0.2);
}

.containerrr .box .imgBx{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
}

.containerrr .box .contentBx{
  position:absolute;
  top:50%;
  left:50px;
  right:50px;
  background:#fff;
  transform:translateZ(20px) scaleY(0); 
  padding:25px 25px;
  transform-origin:top;
  transition:0.5s;
  transform-style:preserve-3d;
  text-align: center;
  z-index: 200;
}

.containerrr a {color: rgb(15,15, 15);}

.P-button {
  background-color: transparent;
  border: 1px solid #266DB6;
  box-sizing: border-box;
  color: #00132C;
  font-family: "Avenir Next LT W01 Bold",sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 15px;
  padding: 8px 10px;
  position: relative;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-top: 10px;
}

.P-button:hover,
.P-button:active {
  outline: 0;
}

.P-button:hover {
  background-color: transparent;
  cursor: pointer;
}

.P-button:before {
  background-color: rgb(224, 191, 255);
  content: "";
  height: calc(100% + 3px);
  position: absolute;
  right: -5px;
  top: -7px;
  transition: background-color 300ms ease-in;
  width: 100%;
  z-index: -1;
}
.P-button:hover:before {
  background-color: rgb(112, 33, 187);
}

.containerrr .box:hover .contentBx{
     transform:translateZ(20px) scaleY(1); 
}


.skills  {
  height: auto;
}
.skill-container {
display: flex;
flex-direction: row;
  height: 100%;
  margin-bottom: 100px;
}
.skill-half {
  width: 40%;
  display: flex;
}
.S-col1 {
  width: 45%;
  margin-top: 10px;
  margin-left: 30px;
}
.S-col2 {
  width: 45%;
  margin-top: 10px;
}
.my-skill {
  width: 60%;
  display: flex;
  /* justify-content: baseline; */
  flex-direction: column-reverse;
  align-items: center;

}
#me {
  height: 250px;
  width: 350px;
  border-radius: 80px;
  margin-top: 50px;
  /* margin-bottom: 150px; */
}
.S-card {
  height: auto;
  width: 90%;
  padding: 10px;
  margin: left;
  background: rgba(255, 255, 255, 0.36);
  border-radius: 7px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.3);
  margin-top: 15px;
}
.S-card h3 {
  font-size: large;
}
.S-card span {
  font-size: small;
}
.set {
  display: flex;
  flex-direction: column;
}
.s-col {
  height: max-content;
  margin-top: 15px;
}
.skill-set {
  padding: 5px 10px;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 7px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.5);
  width: auto;
  height: auto;
  margin: 50px 5px;
}
.logoSec {
  display: flex;
}
.logoSec img {
  width: 50px;
  height: 50px;
  margin-right: 30px;
  margin-top: 0px;
} 
.js {
  margin-bottom: 10px;
  transform: translate(0%, 50%);
}
.py {
  margin-bottom: 20px;
  transform: translate(0%, -50%);
}

.S-img .skillimg {
  transition:0.8s all ease;
  transform:translateY(200px);
  opacity:0;
}
.S-img:hover .si1 {
  transform:translateY(0px);
  transition:0.4s all ease;
  opacity:1;
}
.S-img:hover .si2 {
  transform:translateY(30px);
  transition:0.5s all ease;
  opacity:1;
}
.S-img:hover .si3 {
  transform:translateY(-30px);
  transition:0.6s all ease;
  opacity:1;
}
.S-img:hover .si4 {
  transform:translateY(30px);
  transition:0.8s all ease;
  opacity:1;
}
.S-img:hover .si5 {
  transform:translateY(0px);
  transition:0.9s all ease;
  opacity:1;
}


.my-skill span {
   color: black;
}
::selection{
  color: #fff;
  background: #6665ee;
}
.skill-bars{
  padding: 20px 30px;
  width: 400px;
  background: #fff;
  box-shadow: 5px 5px 20px rgba(0,0,0,0.2);
  border-radius: 10px;
}
.skill-bars .bar{
  margin: 15px 0;
}
.skill-bars .bar:first-child{
  margin-top: 0px;
}
.skill-bars .bar .info{
  margin-bottom: 5px;
}
.skill-bars .bar .info span{
  font-weight: 500;
  font-size: 17px;
  opacity: 0;
  animation: showText 0.5s 1s linear forwards;
}
@keyframes showText {
  100%{
    opacity: 1;
  }
}
.skill-bars .bar .progress-line{
  height: 10px;
  width: 100%;
  background: #f0f0f0;
  position: relative;
  transform: scaleX(0);
  transform-origin: left;
  border-radius: 10px;
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.05),
              0 1px rgba(255,255,255,0.8);
  animation: animate 1s cubic-bezier(1,0,0.5,1) forwards;
}
@keyframes animate {
  100%{
    transform: scaleX(1);
  }
}
.bar .progress-line span{
  height: 100%;
  position: absolute;
  border-radius: 10px;
  transform: scaleX(0);
  transform-origin: left;
  background: #6665ee;
  animation: animate 1s 1s cubic-bezier(1,0,0.5,1) forwards;
}
/* FRONTEND */
.frontend .bar .progress-line.html span{
  width: 90%;
}
.frontend .bar .progress-line.css span{
  width: 85%;
}
.frontend  .bar .progress-line.jquery span{
  width: 60%;
}
.frontend .bar .progress-line.python span{
  width: 50%;
}
/* BACKEND */
.backend .bar .progress-line.html span{
  width: 80%;
}
.backend .bar .progress-line.css span{
  width: 70%;
}
.backend  .bar .progress-line.jquery span{
  width: 60%;
}

/* DATABASE */
.database .bar .progress-line.html span{
  width: 70%;
}
.database .bar .progress-line.css span{
  width: 80%;
}

/* DESIGN */
.design .bar .progress-line.html span{
  width: 70%;
}

/* PROGLANG */
.progLang .bar .progress-line.html span{
  width: 75%;
}

/* AUTOMATION */
.automation .bar .progress-line.html span{
  width: 55%;
}
.automation .bar .progress-line.css span{
  width: 40%;
}

.progress-line span::before{
  position: absolute;
  content: "";
  top: -10px;
  right: 0;
  height: 0;
  width: 0;
  border: 7px solid transparent;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-color: #000;
  opacity: 0;
  animation: showText2 0.5s 1.5s linear forwards;
}
.progress-line span::after{
  position: absolute;
  top: -28px;
  right: 0;
  font-weight: 500;
  background: #000;
  color: #fff;
  padding: 1px 8px;
  font-size: 12px;
  font-weight: bolder;
  border-radius: 3px;
  opacity: 0;
  animation: showText2 0.5s 1.5s linear forwards;
}
@keyframes showText2 {
  100%{
    opacity: 1;
  }
}

/* FRONTEND */
.frontend .progress-line.html span::after{
  content: "90%";
}
.frontend .progress-line.css span::after{
  content: "85%";
}
.frontend .progress-line.jquery span::after{
  content: "60%";
}
.frontend .progress-line.python span::after{
  content: "50%";
}
/* BACKEND */
.backend .progress-line.html span::after{
  content: "80%";
}
.backend .progress-line.css span::after{
  content: "70%";
}
.backend .progress-line.jquery span::after{
  content: "60%";
}
/* DATABASE */
.database .progress-line.html span::after{
  content: "70%";
}
.database .progress-line.css span::after{
  content: "80%";
}

/* DESIGN */
.design .progress-line.html span::after{
  content: "75%";
}

/* PROGLANG */
.progLang .progress-line.html span::after{
  content: "75%";
}

/* AUTOMATION */
.automation .progress-line.html span::after{
  content: "55%";
}
.automation .progress-line.css span::after{
  content: "40%";
}

.barset {
  display: none;
}

.fcard:hover .my-skill .frontend{
  display: flex;
}
.bcard:hover .backend {
  display: block;
}
.dcard:hover .database{
  display: block;
}
.dncard:hover .design {
  display: block;
}
.plcard:hover .progLang {
  display: block;
}
.acard:hover .automation {
  display: block;
}

.show {
  display: block;
}


.media {
  display: flex;
  flex-direction: column;
}
.media h3 {
  margin-top: 100px;
  margin-left: 70px;
  font-family: 'Fira Code', sans-serif;
  font-weight: bold;
}
.links img {
  height: 30px; 
  margin-right: 10px;
  -webkit-filter: invert(1);
  filter: invert(1);
}
.links {
  width: 70%;
  display: flex;
  justify-content: space-around;
  margin: 30px 0px;
}
.links a {
  color:  #6f00ff;
}
.getInTouch {
  height: 60px;
  width: 200px;
  padding: auto;
  border-radius: 20px;
  background-color: #e4b5cb;
  background-image: linear-gradient(315deg, #da98b7 0%, #722ae6 74%);
  margin-left: 65px;
  margin-top: 70px;
  font-size: medium;
}
.getInTouch a {
  color: black;
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.getInTouch a:hover {
  font-size: large;
  /* transition: 0.04s ease-in; */
  background-color: transparent;
  text-decoration: none;
}
.footer-sec {
  height: 30px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(0, 0, 41);
  position: absolute;
  bottom: 0;
  font-size: 10px;
}

#cursor-dot {
  height: 5px;
  width: 5px;
  background-color: white;
}
#cursor-outline {
  height: 30px;
  width: 30px;
  border: 2px solid rgba(255, 255, 255, 0.911);
}
#cursor-dot,
#cursor-outline {
  position: fixed;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  z-index: 2000;
  pointer-events: none;
} 


 /* Media Query for Mobile Devices */
 @media (max-width: 480px) {
  label {padding-left: 0px;}
  .intro {left: 10%; font-size: large;}
  .toLeft {right: 0%;}
  .toRight {left: 0%;}
  .containerrr .box {height: 11rem; width: 20rem;}
  .contentBx {font-size: small;}
  .P-button {padding: 5px 8px;}
  .container .Ocard {margin-left: 20px;}
  .skill-half {width: 100%;}
  .links {flex-direction: column;}
  .link {padding: 20px;}
}

/* Media Query for low resolution  Tablets, Ipads */
@media (min-width: 481px) and (max-width: 767px) {
  .intro {left: 10%; font-size: large;}
  .toLeft {right: 0%;}
  .toRight {left: 0%;}
  .skill-half {width: 100%;}
  .links {flex-direction: column;}
  .link {padding: 20px;}
}

/* Media Query for Tablets Ipads portrait mode */
@media (min-width: 768px) and (max-width: 1024px){
  section {height: 50vh;}
  .container {height: max-content;}
}

.cardbox {
  height: 225px;
  width: 400px;
  margin: 50px;
}

.card-head {
  /* color: black; */
  width: fit-content;
  padding: 20px;
  color: gray;
  font-weight: 600;
  border-radius: 50%;
  transform: translate(-50px, 170px);
  background-color: #00000052;
  box-shadow: #00000052 15px -40px 40px 50px;
}

.v-head {
  transform: translate(-50px, 340px);
}

.card01 {
  background-image: url("images/Screenshot\ \(60\).png");
  background-size: cover;
}
.card02 {
  background-image: url("images/Screenshot\ \(56\).png");
  background-size: cover;
}
.card03 {
  background-image: url("images/Screenshot\ \(61\).png");
  background-size: cover;
}
.card04 {
  background-image: url("images/Screenshot\ \(57\).png");
  background-size: cover;
}
.card05 {
  background-image: url("https://plus.unsplash.com/premium_photo-1661761077411-d50cba031848?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTd8fHJlc2VhcmNofGVufDB8fDB8fHww");
  background-size: cover;
}

.project-section {
  height: 120vh;
  width: 100%;
  /* display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto; */
  display: flex;
  flex-wrap: wrap;
}

.forline {
  border-bottom: white solid 3px;
  padding-bottom: 5px;
  font-size: x-large;
  font-weight: 600;
  color: white;
}