:root {
  --backgroun-color: rgb(0, 2, 10);
}

@font-face {
  font-family: black-widow;
  src: url(/FlawlessPersonalUseOnly-j9RKl.otf);
}

html, body {
  box-sizing: border-box;
  // height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

*, *::before, *::after {
  box-sizing: inherit;
}
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


body {
    // overflow-x: hidden;
    background-color: var(--backgroun-color);
    background: rgb(2,0,36);
    // background-image: linear-gradient(to bottom right, #00d0ec, #FB36F4);
    background-color: #0c0c0c;
    scroll-behavior: smooth;
    color: #fff;
}

#main-containter {
  height: 200vh;
  position: relative;
  backdrop-filter: blur(20px);
  background: linear-gradient(-225deg, #ff3caa3d 0%, #562b7c65 42%, #2b85c5b8 100%);
}

.bg-image {
  height: 100vh;
  width: 100%;
}
// .section-1 {
//   height: 100vh;
//   width: 100%;
//   // position: sticky;
//   // top: 0;
// }
// .section-2 {
//   height: 150vh;
//   width: 100%;
//   // position: sticky;
//   // top: -100vh;
//   background-color: var(--backgroun-color);
//   // backdrop-filter: blur(5px);
//   // -webkit-backdrop-filter: blur(5px);
// }
.section-3 {
//   height: 100vh;
//   width: 100%;
//   // position: sticky;
//   // top: 0;
//   background-color:  var(--backgroun-color);
//   // backdrop-filter: blur(5px);
//   // -webkit-backdrop-filter: blur(5px);
margin-top: 45vh;
}
// .section-4 {
//   height: 100vh;
//   width: 100%;
//   // position: sticky;
//   // top: 0;
//   background-color:  var(--backgroun-color);
// }

nav {
    position: absolute;
    top: 0;
    z-index: 10000;
    height: 80px;
    width: 100%;
}

#pinContainer {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

  .logo-icon {margin-left: 20px;}
  label.logo{
    color:  #6f00ff;
    font-size: 30px;
    line-height: 80px;
    font-weight: bold;
  }
  #gaurav {
    color: white;
    font-size: 30px;
    line-height: 80px;
    font-weight: bold;
  }
  nav ul{
    float: right;
    margin-right: 20px;
  }
  nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
  }
  nav ul li a{
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    /* border-radius: 3px; */
    text-decoration: none;
    font-family: 'Fira Code', sans-serif;
}
// a.active,a:hover{
//     color: rgb(255, 255, 255);
//     transition: .5s;
//     background-color:  #6f00ff;
//   }
  .checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
  }
  #check{
    display: none;
  }
  @media (max-width: 952px){
    label.logo{
      font-size: 30px;
      /* padding-left: 50px; */
    }
    nav ul li a{
      font-size: 16px;
    }
  }
  @media (max-width: 858px){
    .checkbtn{
      display: block;
    }
    ul{
      position: fixed;
      width: 100%;
      height: 100vh;
      background: #2c3e50;
      top: 80px;
      left: -100%;
      text-align: center;
      transition: all .5s;
    }
    nav ul li{
      display: block;
      margin: 50px 0;
      line-height: 30px;
    }
    nav ul li a{
      font-size: 20px;
    }
    a:hover,a.active{
      background: none;
      color: #ffffff;
    }
    #check:checked ~ ul{
      left: 0;
    }
  }

.home {
    // height: 100vh;
    width: 100vw;
}

.background {
    height: 100vh;
}

#hero-bg {
  height: 100vh;
  width: 120%;
  background-position-x: 200px;
  object-fit: cover;
}

.hero {
  position: relative;
  perspective: 1000px; /* Adjust as needed */
  /* Optional: to make the effect more pronounced */
  overflow: hidden; 
}
.gridBackground {
  transform-style: preserve-3d;
}
// .blur {
//     height: 100vh;
//     width: 100%;
//     position: fixed;
//     top: 0;
//     left: 0;
//     background: rgba(255, 255, 255, 0.075);
//     backdrop-filter: blur(5px);
//     -webkit-backdrop-filter: blur(5px);
// }

.intro {
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 20vw;
    position: absolute;
    top: 0%;
    // left: 15%;
    font-size: 50px;
    font-family: 'Montserrat', sans-serif;
    z-index: 1000;
    color: white;
}

#lineOne {
  // font-size: ;
}
.line3 {
  font-family: 'Jura', sans-serif;
}
#dev{
  /* font-family: 'Press Start 2P', sans-serif; */
  font-family: 'Fira Code', sans-serif;
  /* font-size: large; */
  font-weight: 80;
  // font-size: 1.8rem;
}
#des {
  font-family: 'Dancing Script', cursive;
}
.console-underscore {
  display:inline-block;
  position:relative;
  top:-0.07em;
  left:10px;
}
.anime {
  font-weight: bold;
}  
#name {
  font-family: black-widow, sans-serif;
  /* color: rgb(112, 33, 187); */
  // color: #6f00ff;
  font-weight: 600;
  font-size: 4.4rem;
}

.heading {

}

section:has(.project)  {
  /* height: 100vh; */
  // background-image: #002244;
  position: relative;
}

.projects span {
transform: translate(-15%,-13%);
color: #fffafa;
text-shadow: 10px 10px 25px rgb(0, 0, 0),
-10px 10px 25px rgb(0, 0, 0),
-10px -10px 25px rgb(0, 0, 0),
10px -10px 25px rgb(0, 0, 0);
display: flex;
font-size: xx-large;
width: max-content;
font-weight: bold;
}


.cardbox {
  height: 225px;
  width: 400px;
  margin: 50px;
}

.card-head {
  /* color: black; */
  width: fit-content;
  padding: 20px;
  color: gray;
  font-weight: 600;
  border-radius: 50%;
  transform: translate(-50px, 170px);
  background-color: #00000052;
  box-shadow: #00000052 15px -40px 40px 50px;
}

.v-head {
  transform: translate(-50px, 340px);
}

.project-section {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  background-color: var(--backgroun-color);
}

.card1 {
  position: absolute;
  top: 10%;
  left: 5%;
}
.card2 {
  position: absolute;
  top: 30%;
  left: 40%;
}
.card3 {
  position: absolute;
  top: 50%;
  left: 20%;
}
.card4 {
  position: absolute;
  top: 65%;
  left: 20%;
}
.card5 {
  position: absolute;
  top: 85%;
  right: 10%;
}
.card6 {
  position: absolute;
  top: 20%;
  right: 5%;
}
.card7 {
  position: absolute;
  top: 105%;
  left: 12%;
}

.vertical {
  height: 400px;
  width: 230px;
}

.projectTitle {
  border-bottom: white solid 3px;
}

.projectTitlebox {
  padding-bottom: 5px;
  font-size: x-large;
  font-weight: 600;
  color: white;
  transform: translate(-40px, -50px);
  text-shadow: 0px 10px 18px #242424, 10px 10px 18px #242424, -10px -10px 18px #242424, 30px 20px 18px #242424, -30px 20px 18px #242424, 30px -20px 18px #242424, -30px -20px 18px #242424, 40px 0px 18px #242424;
}

.main {
  position: absolute;
  top: 140%;
}
.gallery {
  height: 90vh;
  background-color: #333;
  display: flex;
  flex-direction: row;
  gap: 1vw;
  padding: 1vh;
  box-sizing: border-box;
  .column {
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 1vw;
    min-width: 250px;
    &:nth-of-type(1){
      top: -30%;
  }
  &:nth-of-type(2){
      top: -70%;
  }
  &:nth-of-type(3){
      top: -30%;
  }
  &:nth-of-type(4){
      top: -60%;
  }
  .imageContainer{
    height: 100%;
    width: 100%;
    position: relative;
    border-radius: 1vw;
    overflow: hidden;
    img{
        object-fit: cover;
    }
}
&:nth-of-type(1){
    top: -45%;
}
&:nth-of-type(2){
    top: -95%;
}
&:nth-of-type(3){
    top: -45%;
}
&:nth-of-type(4){
    top: -75%;
}
}
}


#about {
  margin: 10vh 20vh;
  margin-top: 100vh;
}

.topbar, .bottombar {
  height: 1.5rem;
  width: 100%;
  background-color: rgb(255, 255, 255);
  display: flex;
  border-radius: 10px 10px 0px 0px;
}

.bottombar {
  border-radius: 0px 0px 10px 10px;
}

.bottombar p {text-align: center;
}

.cut, .expand, .minimize {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  margin: auto 5px;
}

.cut {
  background-color: red;
}

.expand {
  background-color: yellow;
}

.minimize {
  background-color: green;
}

.filename {
  height: 1.5rem;
  width: 100%;
  background: rgb(0, 7, 36);
  color: white;
  display: flex;
  align-items: center;
}

.filename span {
  border: 0.5px solid white;
  height: 100%;
  padding: 0px 3px;
}

.Portfolio {
  display: grid;
  grid-template-columns: 40px auto;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  background: rgba(0, 0, 0, 0.055);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  font-size: 17px;
  height: 35rem;
  font-family: 'fira code';
  color: azure;
  border: 1px solid white;
}
.number {
  display: grid;
  // grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  right: 0;
  border-right: 1px solid rgb(144, 144, 144);
  padding-top: 50px;
  padding-bottom: 70px;
}
.num {
  // margin-left: auto;
  // margin-right: 10px;
  margin: auto;
  color: rgb(179, 179, 179);
  padding: 9px 0px;
}
.info {
  padding-top: 50px;
  padding-bottom: 70px;
  display: grid;
  // grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  margin-left: 5px;
}
.details {
  padding: 9px 0px;
}

.blue {
  color: rgb(58, 58, 196);
}
.pink {
  color: rgb(248, 22, 41);
}
.green {
  color: rgb(11, 219, 11);
}
.golden {
  color: rgb(255, 255, 0);
}
.yellow {
  color: rgb(216, 216, 97);
}
.dots {
  color: rgb(56, 55, 55);
}

span:has(.details) {
  height: 10px;
}


.media {
  display: flex;
  // flex-direction: column;
  margin: 50px 200px 100px;
}
.contact h3 {
  // margin-top: 100px;
  // margin-left: 70px;
  font-family: 'Fira Code', sans-serif;
  font-weight: bold;
  color: #ffffff;
  margin: 50px 100px;
}
.links {
  width: 70%;
  // display: flex;
  // justify-content: space-around;
  // margin: 30px 0px;
}

.link {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.links a {
  color:  #ffffff;
  text-decoration: none;
  margin-left: 10px;
}
// .getInTouch {
//   height: 60px;
//   width: 200px;
//   padding: auto;
//   border-radius: 20px;
//   background-color: #e4b5cb;
//   background-image: linear-gradient(315deg, #da98b7 0%, #722ae6 74%);
//   // margin-left: 65px;
//   // margin-top: 70px;
//   font-size: medium;
// }
/* CSS */

/* CSS */
.getInTouch {
  position: relative;
  overflow: hidden;
  border: 1px solid #18181a;
  color: #18181a;
  display: inline-block;
  font-size: 15px;
  line-height: 15px;
  height: max-content;
  padding: 12px 18px 17px;
  text-decoration: none;
  cursor: pointer;
  background: #fff;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 200px;
  margin-right: 20px;
}

.getInTouch a {
  color: #000000;
  text-decoration: none;
  font-weight: 500;
}

.getInTouch span:first-child {
  position: relative;
  transition: color 600ms cubic-bezier(0.48, 0, 0.12, 1);
  z-index: 10;
}

.getInTouch span:last-child {
  color: white;
  display: block;
  position: absolute;
  bottom: 0;
  transition: all 500ms cubic-bezier(0.48, 0, 0.12, 1);
  z-index: 100;
  opacity: 0;
  top: 50%;
  left: 50%;
  transform: translateY(225%) translateX(-50%);
  height: 14px;
  line-height: 13px;
}

.getInTouch:after {
  content: "";
  position: absolute;
  bottom: -50%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  transform-origin: bottom center;
  transition: transform 600ms cubic-bezier(0.48, 0, 0.12, 1);
  transform: skewY(9.3deg) scaleY(0);
  z-index: 50;
}

.getInTouch:hover:after {
  transform-origin: bottom center;
  transform: skewY(9.3deg) scaleY(2);
  border: 2px solid white;
}

.getInTouch:hover span:last-child {
  transform: translateX(-50%) translateY(-100%);
  opacity: 1;
  transition: all 900ms cubic-bezier(0.48, 0, 0.12, 1);
}
// .getInTouch a {
//   color: black;
//   display: flex;
//   height: 100%;
//   width: 100%;
//   justify-content: center;
//   align-items: center;
// }
// .getInTouch a:hover {
//   font-size: large;
//   /* transition: 0.04s ease-in; */
//   background-color: transparent;
//   text-decoration: none;
// }
.footer-sec {
  height: 30px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  // background-color: rgb(0, 0, 41);
  // position: absolute;
  // bottom: 0;
  font-size: 10px;
  color: #fffafa;
}

#cursor-dot {
  height: 5px;
  width: 5px;
  background-color: white;
}
#cursor-outline {
  height: 30px;
  width: 30px;
  border: 2px solid rgba(255, 255, 255, 0.911);
}
#cursor-dot,
#cursor-outline {
  position: fixed;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  z-index: 2000;
  pointer-events: none;
} 


/* styles/Home.module.css */
.gridBackground {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: black;
  overflow: hidden;
}

.gridLines {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none; /* Allows clicks to pass through */
  background-image: 
    linear-gradient(to right, rgba(255, 255, 255, 0.1) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(255, 255, 255, 0.1) 1px, transparent 1px);
  background-size: 200px 200px; /* Size of the grid cells */
  background-position: 0 0;
}


.design-container{
  height: 170vh;
  position: relative;
  .sticky{
      position: sticky;
      overflow: hidden;
      top: 0px;
      height: 158vh;
      transform: translateY(-10vh);
      .el{
        width: 100%;    
        height: 100%;    
        top: 0;   
        position: absolute;   
        display: flex;
        align-items: center;
        justify-content: center;
        .imageContainer{
            position: relative;
            width: 25vw;
            height: 25vh;
            img{
                object-fit: cover;    
            }
        }    
        &:nth-of-type(2){    
            .imageContainer{    
                top: -30vh;    
                left: 5vw;    
                width: 35vw;    
                height: 30vh;                
                object-position: top;   
            }   
        }    
        &:nth-of-type(3){    
            .imageContainer{    
                top: -10vh;   
                left: -25vw;   
                width: 20vw;    
                height: 45vh;   
            }   
        }    
        &:nth-of-type(4){    
            .imageContainer{    
                left: 27.5vw;    
                width: 25vw;   
                height: 25vh;   
            }   
        }   
        &:nth-of-type(5){    
            .imageContainer{    
                top: 27.5vh;    
                left: 5vw;    
                width: 20vw;    
                height: 25vh;
              }   
        }   
        &:nth-of-type(6){   
            .imageContainer{   
                top: 27.5vh;   
                left: -22.5vw;    
                width: 30vw;    
                height: 25vh;    
            }    
        }    
        &:nth-of-type(7){   
            .imageContainer{    
                top: 22.5vh;    
                left: 25vw;    
                width: 15vw;    
                height: 15vh;    
            }    
        }    
    }
  }
}

.design-head {
  transform: translateY(50px);
}

.collaborate-button {
  text-align: center;
  font-size: 120px;
  background: linear-gradient(to bottom, rgb(255, 255, 255) 30%, rgb(0, 0, 0)) 70%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  // text-shadow: 0.5px 0.5px 1px rgba(0,0,0,0.5);
}

.heading {
  text-align: right;
  font-size: 120px;
  background: linear-gradient(to bottom, rgb(198, 196, 196) 30%, rgb(0, 0, 0)) 70%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  // margin-left: 500px;
  height: max-content;
  width: 80%;
}

 /* Media Query for Mobile Devices */
 @media (max-width: 480px) {
  // label {padding-left: 0px;}
  // .intro {left: 10%; font-size: large;}
  // .toLeft {right: 0%;}
  // .toRight {left: 0%;}
  // .containerrr .box {height: 11rem; width: 20rem;}
  // .contentBx {font-size: small;}
  // .P-button {padding: 5px 8px;}
  // .container .Ocard {margin-left: 20px;}
  // .skill-half {width: 100%;}
  // .links {flex-direction: column;}
  // .link {padding: 20px;}
  .intro { margin-left: 0px; }
  .heading { font-size: 70px; }
  .card-list { margin: auto; }
  .card {
    position: static;
    div img {
      width: 350px;
      margin: auto;
    } 
  }
  .projectTitlebox {  transform: translate(-10px, -50px); }
  .vertical {
  height: 400px;
  width: 230px !important;
  }
  .contact h3 { margin: 50px 30px; }
  .section-3 { margin-top: 105vh; }
  .media {
    flex-direction: column;
    margin: 50px 30px 100px;
    .links { margin-bottom: 20px; }
  }
  .collaborate-button { font-size: 70px; }
}

/* Media Query for low resolution  Tablets, Ipads */
@media (min-width: 481px) and (max-width: 767px) {
  // .intro {left: 10%; font-size: large;}
  // .toLeft {right: 0%;}
  // .toRight {left: 0%;}
  // .skill-half {width: 100%;}
  // .links {flex-direction: column;}
  // .link {padding: 20px;}
}

/* Media Query for Tablets Ipads portrait mode */
@media (min-width: 768px) and (max-width: 1024px){
  section {height: 50vh;}
  .container {height: max-content;}
}

